# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

flappyscore.dat
snakescore.dat
golfscore.dat
yatzyscore.dat
hiscore.dat
sintable.dat
s-shot.seq
s-spiral.seq
s-tunnel.seq
s-hulk3d.seq
s-hulk3d2.seq
speedt.c
speedt.exe
speedtest.bat
speedtest2.bat
rot.c
rot.exe
rotfile.bat
rotfiles
old
screenshots
tc.bat
weirdos
listbexport
ascii
jp2a
anim
bkp.bat
captures
cleancheckout
distrib.bat
